<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avon.lv">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_Noactionbar">
        <activity android:name=".NestedFragment.NestedFragmentActivity"></activity>
        <activity android:name=".lifecycle.ChronoActivity" />
        <activity android:name=".NetworkCheckFragment.NetworkCheckActivity" />
        <activity android:name=".TransactionFragment.FragmentTransactionActivity" />
        <activity android:name=".SimpleFragment.MyFragmentActivity" />
        <activity android:name=".databinding.DatabindingActivity" />
        <activity android:name=".AnimationActivity" />
        <activity android:name=".CoordinatorActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>